<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <h2>메인페이지</h2>
    {%if not request.session.session_id%}
        <ul>
            <li><a href="/member/login/">로그인</a>
            <li><a href="">회원가입</a>
            <li><a href="">로그아웃</a>
            <li><a href="/board/list/">게시판</a>
            <li><a href="/admin/">admin관리자</a>
        </ul>
    {%else%}
         <ul>
            <li><a href="">로그아웃</a>
            <li><a href="">게시판</a>
            <li><a href="/admin/">admin관리자</a>
        </ul>
    {%endif%}

</body>
</html>