<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생리스트</title>
    <style>
        h2{text-align:center;}
        table{margin:0 auto;}
        table,tr,th{border: 1px solid black; border-collapse:collapse;}
        th,td{width:150px; height:40px; text-align:center;}
        #btn{width:800; height:50px; margin:30px auto; border:none;}
        .d01{width:200px; height:50px; text-align:center;
            border:1px solid black; margin:0 auto; line-height:50px;
            background:#eee;}
        a{text-decoration:none;}
    </style>
</head>
<body>
    <!--html 주석-->
    {%comment%}디장고 주석은 다음과 같습니다{%endcomment%}

    <h2>{{our_class}} 학생리스트</h2>
    <h2>{{stu_inf}}</h2>
    <table>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>나이</th>
            <th>학년</th>
            <th>성별</th>
        </tr>
        {%if stu_list%}
            {%for s in stu_list%}
            <tr>
                <th>{{s.sno}}</th>
                <th>   
                    {%comment%}

                    폼 태그는 POST, 그외에는 모두 GET 방식이다   
                    GET 방식으로 링크에 데이터 보내는 방법은 아래와 같다

                    <a href='/student/{{s.sno}}/view'>{{s.name}}</a>
                    <a href='/student/view?age=20'>{{s.name}}</a>
                    
                    {%endcomment%}

                    <a href='{%url "student:view" s.sno %}'>{{s.name}}</a>
                </th>
                <th>{{s.age}}</th>
                <th>{{s.grade}}</th>
                <th>{{s.gender}}</th>
            </tr>
            {%endfor%}
        {%else%}
        <tr>
            <td colspan='5'>데이터가 존재하지않습니다</td>
        </tr>
        {%endif%}
    </table>
    <div id="btn">
        <div class="d01"><a href="/student/write">글쓰기</a></div>
    </div>
</body>
</html>