<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>커뮤니티 페이지</h2>
    <ul>
        <li><a href=''>커뮤니티 글목록</a></li>
        <li><a href=''>커뮤니티 글쓰기</a></li>
        <li><a href=''>커뮤니티 글수정</a></li>
        <li><a href=''>커뮤니티 글삭제</a></li>
    </ul>
    <br><br>
    <ul>
        <li><a href="/">메인페이지로 이동 -HOME-</a></li>
        <li><a href="/event/write">이벤트페이지로 이동 -EVENT-</a></li>
    </ul>

    
</body>
</html>